#section-1-4308 > .ct-section-inner-wrap {
  max-width: 100%;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
#section-1-4308 {
  display: block;
}
#section-172-4308 > .ct-section-inner-wrap {
  max-width: 100%;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}
#section-177-4308 > .ct-section-inner-wrap {
  padding-top: 0;
  padding-right: 20px;
  padding-bottom: 75px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#section-177-4308 {
  display: block;
}
#section-177-4308 {
  text-align: left;
}
#section-243-4308 > .ct-section-inner-wrap {
  max-width: 100%;
  padding-top: 115px;
  padding-right: 0;
  padding-left: 0;
  align-items: center;
}
#section-243-4308 {
  background-image: url(../../2019/12/ProAir-home-CTA.png);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  height: 100vh;
}
@media (max-width: 1120px) {
  #section-177-4308 > .ct-section-inner-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #section-177-4308 {
    display: block;
  }
}
@media (max-width: 991px) {
  #section-243-4308 > .ct-section-inner-wrap {
    padding-top: 71px;
    padding-bottom: 89px;
  }
  #section-243-4308 {
    height: 80vh;
  }
}
@media (max-width: 767px) {
  #section-243-4308 > .ct-section-inner-wrap {
    padding-top: 39px;
    padding-bottom: 100px;
  }
  #section-243-4308 {
    background-image: url(../../2019/12/Home-CTA-mobile-new@2x.jpg);
    background-size: cover;
    height: 60vh;
    background-repeat: no-repeat;
  }
}
@media (max-width: 479px) {
  #section-243-4308 > .ct-section-inner-wrap {
    padding-bottom: 67px;
  }
  #section-243-4308 {
    background-image: url(../../2019/12/Home-CTA-mobile-new@2x.jpg);
    height: 60vh;
  }
}
#div_block-10-4308 {
  align-items: flex-start;
  text-align: left;
  width: 1120px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 0px;
}
#div_block-105-4308 {
  width: 45%;
  margin-top: 75px;
}
#div_block-146-4308 {
  align-items: flex-start;
  text-align: left;
  width: 1120px;
  padding-left: 50px;
  padding-right: 50px;
}
#div_block-147-4308 {
  width: 45%;
  margin-top: 75px;
}
#div_block-363-4308 {
  align-items: flex-start;
  text-align: left;
  width: 1120px;
  padding-left: 50px;
  padding-right: 50px;
}
#div_block-364-4308 {
  width: 45%;
  margin-top: 75px;
}
#div_block-173-4308 {
  width: 100%;
  margin-bottom: -400px;
}
#div_block-213-4308 {
  width: 100%;
  align-items: center;
  text-align: center;
}
#div_block-218-4308 {
  flex-direction: row;
  display: flex;
}
#div_block-223-4308 {
  height: 4px;
  min-height: 4px;
  max-height: 4px;
  background-color: #003e7e;
  margin-bottom: 25px;
  width: 20%;
}
#div_block-178-4308 {
  width: 100%;
  flex-direction: row;
  display: flex;
}
#div_block-224-4308 {
  width: 100%;
  flex-direction: row;
  display: flex;
}
#div_block-182-4308 {
  padding-right: 5px;
  width: 50%;
}
#div_block-202-4308 {
  width: 100%;
  padding-left: 25px;
  padding-bottom: 25px;
}
#div_block-204-4308 {
  width: 20%;
  height: 3px;
  min-height: 3px;
  max-height: 3px;
  background-color: #acc9e8;
  margin-top: 6px;
}
#div_block-236-4308 {
  width: 50%;
  padding-right: 5px;
}
#div_block-238-4308 {
  width: 100%;
  padding-left: 25px;
  padding-bottom: 25px;
}
#div_block-240-4308 {
  width: 20%;
  height: 3px;
  min-height: 3px;
  max-height: 3px;
  background-color: #acc9e8;
  margin-top: 6px;
}
#div_block-181-4308 {
  width: 50%;
  padding-right: 0px;
}
#div_block-207-4308 {
  width: 100%;
  padding-left: 25px;
  padding-bottom: 25px;
}
#div_block-209-4308 {
  width: 20%;
  height: 3px;
  min-height: 3px;
  max-height: 3px;
  background-color: #acc9e8;
  margin-top: 6px;
}
#div_block-337-4308 {
  width: 66%;
  flex-direction: row;
  display: flex;
  padding-top: 5px;
  text-align: left;
}
#div_block-350-4308 {
  width: 50%;
  padding-right: 2.5px;
}
#div_block-352-4308 {
  width: 100%;
  padding-left: 25px;
  padding-bottom: 25px;
}
#div_block-354-4308 {
  width: 20%;
  height: 3px;
  min-height: 3px;
  max-height: 3px;
  background-color: #acc9e8;
  margin-top: 6px;
}
#div_block-355-4308 {
  width: 50%;
  padding-left: 2.5px;
}
#div_block-357-4308 {
  width: 100%;
  padding-left: 25px;
  padding-bottom: 25px;
}
#div_block-359-4308 {
  width: 20%;
  height: 3px;
  min-height: 3px;
  max-height: 3px;
  background-color: #acc9e8;
  margin-top: 6px;
}
#div_block-244-4308 {
  width: 50%;
  align-items: center;
  text-align: center;
  padding-bottom: 0px;
  z-index: 1;
}
#div_block-255-4308 {
  width: 100%;
  margin-top: -75px;
}
@media (max-width: 1120px) {
  #div_block-10-4308 {
    width: 900px;
    padding-left: 0px;
  }
}
@media (max-width: 1120px) {
  #div_block-105-4308 {
    width: 55%;
  }
}
@media (max-width: 1120px) {
  #div_block-146-4308 {
    width: 900px;
    padding-left: 0px;
  }
}
@media (max-width: 1120px) {
  #div_block-147-4308 {
    width: 55%;
  }
}
@media (max-width: 1120px) {
  #div_block-363-4308 {
    width: 900px;
    padding-left: 0px;
  }
}
@media (max-width: 1120px) {
  #div_block-364-4308 {
    width: 55%;
  }
}
@media (max-width: 1120px) {
  #div_block-224-4308 {
    width: 100%;
  }
}
@media (max-width: 1120px) {
  #div_block-337-4308 {
    width: 66%;
    padding-top: 5px;
  }
}
@media (max-width: 1120px) {
  #div_block-244-4308 {
    width: 70%;
  }
}
@media (max-width: 991px) {
  #div_block-10-4308 {
    padding-right: 50px;
    padding-left: 50px;
    width: 100%;
    padding-top: 25px;
  }
}
@media (max-width: 991px) {
  #div_block-105-4308 {
    width: 100%;
    padding-top: 0px;
  }
}
@media (max-width: 991px) {
  #div_block-146-4308 {
    padding-right: 50px;
    padding-left: 50px;
    width: 100%;
    padding-top: 25px;
  }
}
@media (max-width: 991px) {
  #div_block-147-4308 {
    width: 100%;
  }
}
@media (max-width: 991px) {
  #div_block-363-4308 {
    padding-right: 50px;
    padding-left: 50px;
    width: 100%;
    padding-top: 25px;
  }
}
@media (max-width: 991px) {
  #div_block-364-4308 {
    width: 100%;
  }
}
@media (max-width: 991px) {
  #div_block-223-4308 {
    width: 30%;
  }
}
@media (max-width: 991px) {
  #div_block-178-4308 {
    flex-direction: column;
    display: flex;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
}
@media (max-width: 991px) {
  #div_block-224-4308 {
    width: 100%;
    padding-right: 0px;
  }
}
@media (max-width: 991px) {
  #div_block-182-4308 {
    padding-right: 2.5px;
  }
}
@media (max-width: 991px) {
  #div_block-236-4308 {
    padding-right: 0px;
    padding-left: 2.5px;
  }
}
@media (max-width: 991px) {
  #div_block-181-4308 {
    padding-left: 5px;
  }
}
@media (max-width: 991px) {
  #div_block-337-4308 {
    flex-direction: row;
    display: flex;
    padding-top: 5px;
  }
}
@media (max-width: 991px) {
  #div_block-350-4308 {
    padding-right: 2.5px;
  }
}
@media (max-width: 991px) {
  #div_block-244-4308 {
    width: 90%;
  }
}
@media (max-width: 767px) {
  #div_block-10-4308 {
    width: 100%;
  }
}
@media (max-width: 767px) {
  #div_block-105-4308 {
    width: 100%;
    margin-top: 50px;
  }
}
@media (max-width: 767px) {
  #div_block-146-4308 {
    width: 100%;
  }
}
@media (max-width: 767px) {
  #div_block-147-4308 {
    width: 100%;
  }
}
@media (max-width: 767px) {
  #div_block-363-4308 {
    width: 100%;
  }
}
@media (max-width: 767px) {
  #div_block-364-4308 {
    width: 100%;
  }
}
@media (max-width: 767px) {
  #div_block-224-4308 {
    flex-direction: column;
    display: flex;
    padding-bottom: 0px;
  }
}
@media (max-width: 767px) {
  #div_block-182-4308 {
    width: 100%;
    padding-right: 0px;
    margin-bottom: 5px;
  }
}
@media (max-width: 767px) {
  #div_block-236-4308 {
    width: 100%;
    padding-left: 0px;
    margin-bottom: 5px;
    padding-bottom: 0px;
  }
}
@media (max-width: 767px) {
  #div_block-181-4308 {
    width: 100%;
    padding-left: 0px;
    margin-bottom: 5px;
    padding-right: 0px;
    margin-top: 0px;
  }
}
@media (max-width: 767px) {
  #div_block-337-4308 {
    flex-direction: column;
    display: flex;
    width: 100%;
    padding-top: 0px;
  }
}
@media (max-width: 767px) {
  #div_block-350-4308 {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 5px;
  }
}
@media (max-width: 767px) {
  #div_block-355-4308 {
    width: 100%;
    padding-left: 0px;
  }
}
@media (max-width: 767px) {
  #div_block-244-4308 {
    width: 80%;
  }
}
@media (max-width: 479px) {
  #div_block-10-4308 {
    padding-top: 0px;
  }
}
@media (max-width: 479px) {
  #div_block-105-4308 {
    padding-right: 0px;
    margin-top: 50px;
  }
}
@media (max-width: 479px) {
  #div_block-147-4308 {
    padding-right: 0px;
    margin-top: 15px;
  }
}
@media (max-width: 479px) {
  #div_block-364-4308 {
    padding-right: 0px;
    margin-top: 15px;
  }
}
@media (max-width: 479px) {
  #div_block-224-4308 {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
}
@media (max-width: 479px) {
  #div_block-182-4308 {
    margin-bottom: 5px;
  }
}
@media (max-width: 479px) {
  #div_block-236-4308 {
    margin-bottom: 5px;
  }
}
@media (max-width: 479px) {
  #div_block-181-4308 {
    margin-bottom: 5px;
  }
}
@media (max-width: 479px) {
  #div_block-337-4308 {
    padding-top: 0px;
  }
}
#headline-12-4308 {
  color: rgba(255, 255, 255, 0.97);
  line-height: 1.25;
  margin-bottom: 15px;
}
#headline-148-4308 {
  color: rgba(255, 255, 255, 0.97);
  line-height: 1.25;
  margin-bottom: 25px;
}
#headline-365-4308 {
  color: rgba(255, 255, 255, 0.97);
  line-height: 1.25;
  margin-bottom: 25px;
}
#headline-215-4308 {
  font-family: "Roboto Condensed";
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 2px;
}
#headline-217-4308 {
  font-family: "Roboto Condensed";
  font-weight: 600;
  text-transform: uppercase;
  margin-left: 10px;
}
#headline-245-4308 {
  color: rgba(255, 255, 255, 0.97);
  line-height: 1.25;
  margin-bottom: 37px;
}
@media (max-width: 1120px) {
  #headline-12-4308 {
    font-size: 50px;
  }
}
@media (max-width: 1120px) {
  #headline-148-4308 {
    font-size: 50px;
  }
}
@media (max-width: 1120px) {
  #headline-365-4308 {
    font-size: 50px;
  }
}
@media (max-width: 1120px) {
  #headline-245-4308 {
    margin-bottom: 41px;
  }
}
@media (max-width: 991px) {
  #headline-12-4308 {
    font-size: 40px;
    margin-bottom: 10px;
  }
}
@media (max-width: 991px) {
  #headline-148-4308 {
    font-size: 40px;
    margin-bottom: 10px;
  }
}
@media (max-width: 991px) {
  #headline-365-4308 {
    font-size: 40px;
    margin-bottom: 10px;
  }
}
@media (max-width: 767px) {
  #headline-215-4308 {
    font-size: 36px;
  }
}
@media (max-width: 767px) {
  #headline-217-4308 {
    font-size: 36px;
  }
}
@media (max-width: 767px) {
  #headline-245-4308 {
    font-size: 26px;
  }
}
@media (max-width: 479px) {
  #headline-12-4308 {
    font-size: 28px;
    margin-bottom: 12px;
  }
}
@media (max-width: 479px) {
  #headline-148-4308 {
    font-size: 28px;
    margin-bottom: 12px;
  }
}
@media (max-width: 479px) {
  #headline-365-4308 {
    font-size: 28px;
    margin-bottom: 12px;
  }
}
@media (max-width: 479px) {
  #headline-215-4308 {
    font-size: 32px;
  }
}
@media (max-width: 479px) {
  #headline-217-4308 {
    font-size: 32px;
  }
}
@media (max-width: 479px) {
  #headline-245-4308 {
    font-size: 24px;
  }
}
#text_block-149-4308 {
  color: rgba(255, 255, 255, 0.97);
  margin-bottom: 35px;
  font-weight: 300;
  font-size: 18px;
}
#text_block-366-4308 {
  color: rgba(255, 255, 255, 0.97);
  margin-bottom: 35px;
  font-weight: 300;
  font-size: 18px;
}
#text_block-203-4308 {
  font-family: "Roboto Condensed";
  font-size: 24px;
  color: rgba(255, 255, 255, 0.97);
  text-transform: uppercase;
  letter-spacing: 1px;
}
#text_block-239-4308 {
  font-family: "Roboto Condensed";
  font-size: 24px;
  color: rgba(255, 255, 255, 0.97);
  text-transform: uppercase;
  letter-spacing: 1px;
}
#text_block-208-4308 {
  font-family: "Roboto Condensed";
  font-size: 24px;
  color: rgba(255, 255, 255, 0.97);
  text-transform: uppercase;
  letter-spacing: 1px;
}
#text_block-353-4308 {
  font-family: "Roboto Condensed";
  font-size: 24px;
  color: rgba(255, 255, 255, 0.97);
  text-transform: uppercase;
  letter-spacing: 1px;
}
#text_block-358-4308 {
  font-family: "Roboto Condensed";
  font-size: 24px;
  color: rgba(255, 255, 255, 0.97);
  text-transform: uppercase;
  letter-spacing: 1px;
}
@media (max-width: 767px) {
  #text_block-149-4308 {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  #text_block-366-4308 {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  #text_block-203-4308 {
    font-size: 22px;
  }
}
@media (max-width: 767px) {
  #text_block-239-4308 {
    font-size: 22px;
  }
}
@media (max-width: 767px) {
  #text_block-208-4308 {
    font-size: 22px;
  }
}
@media (max-width: 767px) {
  #text_block-353-4308 {
    font-size: 22px;
  }
}
@media (max-width: 767px) {
  #text_block-358-4308 {
    font-size: 22px;
  }
}
@media (max-width: 479px) {
  #text_block-149-4308 {
    font-size: 16px;
  }
}
@media (max-width: 479px) {
  #text_block-366-4308 {
    font-size: 16px;
  }
}
#_rich_text-360-4308 {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.97);
  margin-bottom: 25px;
}
@media (max-width: 479px) {
  #_rich_text-360-4308 {
    font-size: 16px;
    font-weight: 300;
  }
}
#text_block-16-4308 {
  color: rgba(255, 255, 255, 0.97);
  font-family: "Roboto Condensed";
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1px;
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  background-color: #cb0000;
}
#text_block-16-4308:hover {
  background-color: rgba(255, 255, 255, 0.97);
  color: #cb0000;
}
#text_block-150-4308 {
  color: #404040;
  font-family: "Roboto Condensed";
  font-weight: 600;
  font-size: 18px;
  background-color: #acc9e8;
  letter-spacing: 1px;
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
}
#text_block-150-4308:hover {
  color: #003e7e;
  background-color: rgba(255, 255, 255, 0.97);
}
#link_text-367-4308 {
  color: #404040;
  font-family: "Roboto Condensed";
  font-weight: 600;
  font-size: 18px;
  background-color: #acc9e8;
  letter-spacing: 1px;
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
}
#link_text-367-4308:hover {
  color: #003e7e;
  background-color: rgba(255, 255, 255, 0.97);
}
#text_block-252-4308 {
  font-family: "Roboto Condensed";
  text-transform: uppercase;
  font-weight: 600;
  color: #003e7e;
  letter-spacing: 1px;
  background-color: rgba(255, 255, 255, 0.97);
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-width: 3px;
  border-right-width: 3px;
  border-bottom-width: 3px;
  border-left-width: 3px;
  border-top-color: #003e7e;
  border-right-color: #003e7e;
  border-bottom-color: #003e7e;
  border-left-color: #003e7e;
  font-size: 18px;
}
#text_block-252-4308:hover {
  color: #79797b;
  border-top-color: #79797b;
  border-right-color: #79797b;
  border-bottom-color: #79797b;
  border-left-color: #79797b;
}
@media (max-width: 479px) {
  #text_block-16-4308 {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 479px) {
  #text_block-150-4308 {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 479px) {
  #link_text-367-4308 {
    width: 100%;
    text-align: center;
  }
}
#div_block-185-4308 {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(0, 77, 157, 0.25),
      #004d9d
    ),
    url(https://www.gopaa.com//wp-content/uploads/2019/12/ProAir-home-accessories@2x.png);
  background-size: auto, cover;
  width: 100%;
  background-repeat: no-repeat;
  height: 27vh;
  justify-content: flex-end;
  align-items: flex-start;
  text-align: left;
}
#div_block-185-4308:hover {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.25),
      #000000
    ),
    url(https://www.gopaa.com//wp-content/uploads/2019/12/ProAir-home-accessories@2x.png);
  background-size: auto, cover;
  background-repeat: no-repeat;
}
#div_block-237-4308 {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(0, 77, 157, 0.25),
      #004d9d
    ),
    url(https://www.gopaa.com//wp-content/uploads/2022/01/avionics3.jpg);
  background-size: auto, cover;
  width: 100%;
  background-repeat: no-repeat;
  height: 27vh;
  justify-content: flex-end;
  align-items: flex-start;
  text-align: left;
}
#div_block-237-4308:hover {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.25),
      #000000
    ),
    url(https://www.gopaa.com//wp-content/uploads/2022/01/avionics3.jpg);
  background-size: auto, cover;
  background-repeat: no-repeat;
}
#div_block-187-4308 {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(0, 77, 157, 0.25),
      #004d9d
    ),
    url(https://www.gopaa.com//wp-content/uploads/2019/12/ProAir-home-instruments@2x.png);
  background-size: auto, cover;
  width: 100%;
  background-repeat: no-repeat;
  height: 27vh;
  justify-content: flex-end;
  align-items: flex-start;
  text-align: left;
}
#div_block-187-4308:hover {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.25),
      #000000
    ),
    url(https://www.gopaa.com//wp-content/uploads/2019/12/ProAir-home-instruments@2x.png);
  background-size: auto, cover;
  background-repeat: no-repeat;
}
#link-351-4308 {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(0, 77, 157, 0.25),
      #004d9d
    ),
    url(https://www.gopaa.com//wp-content/uploads/2019/12/ProAir-home-avionics@2x.png);
  background-size: auto, cover;
  width: 100%;
  background-repeat: no-repeat;
  height: 27vh;
  justify-content: flex-end;
  align-items: flex-start;
  text-align: left;
}
#link-351-4308:hover {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.25),
      #000000
    ),
    url(https://www.gopaa.com//wp-content/uploads/2019/12/ProAir-home-avionics@2x.png);
  background-size: auto, cover;
  background-repeat: no-repeat;
}
#link-356-4308 {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(0, 77, 157, 0.25),
      #004d9d
    ),
    url(https://www.gopaa.com//wp-content/uploads/2020/02/landing-gear-min.jpg);
  background-size: auto, cover;
  width: 100%;
  background-repeat: no-repeat;
  height: 27vh;
  justify-content: flex-end;
  align-items: flex-start;
  text-align: left;
}
#link-356-4308:hover {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.25),
      #000000
    ),
    url(https://www.gopaa.com//wp-content/uploads/2020/02/landing-gear.jpg);
  background-size: auto, cover;
  background-repeat: no-repeat;
}
@media (max-width: 767px) {
  #div_block-237-4308 {
    margin-bottom: 0px;
  }
}
@media (max-width: 767px) {
  #link-356-4308 {
    background-size: cover;
    flex-direction: column;
    display: flex;
    background-repeat: no-repeat;
  }
}
#image-174-4308 {
  width: 101%;
}
#slide-3-4308 {
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)),
    url(https://www.gopaa.com//wp-content/uploads/2022/06/737gear_image1.jpg);
  background-size: auto, cover;
  background-repeat: no-repeat;
  align-items: center;
  text-align: center;
  padding-top: 125px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-position: 50% 50%;
}
#slide-145-4308 {
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)),
    url(https://www.gopaa.com/wp-content/uploads/2023/11/download-app-slider-graphic1.jpg);
  background-size: auto, cover;
  background-repeat: no-repeat;
  align-items: center;
  text-align: center;
  padding-top: 125px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#slide-362-4308 {
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)),
    url(https://www.gopaa.com/wp-content/uploads/2023/11/erj-slider-graphic1.jpg);
  background-size: auto, cover;
  background-repeat: no-repeat;
  align-items: center;
  text-align: center;
  padding-top: 125px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media (max-width: 991px) {
  #slide-3-4308 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
      url(https://www.gopaa.com//wp-content/uploads/2021/03/were_hiring_header.jpg);
    background-size: auto, cover;
    background-repeat: no-repeat;
  }
}
@media (max-width: 767px) {
  #slide-3-4308 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(https://www.gopaa.com//wp-content/uploads/2021/03/were_hiring_header.jpg);
    background-size: auto, cover;
    background-repeat: no-repeat;
  }
}
@media (max-width: 767px) {
  #slide-145-4308 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(https://www.gopaa.com//wp-content/uploads/2019/12/Slider-4-mobile@2x.jpg);
    background-size: auto, cover;
    background-repeat: no-repeat;
  }
}
@media (max-width: 767px) {
  #slide-362-4308 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(https://www.gopaa.com//wp-content/uploads/2019/12/Slider-4-mobile@2x.jpg);
    background-size: auto, cover;
    background-repeat: no-repeat;
  }
}
#slider-2-4308 .unslider-nav ol li {
  border-color: #ffffff;
}
#slider-2-4308 .unslider-nav ol li.unslider-active {
  background-color: #ffffff;
}
#slider-2-4308 .unslider {
  padding: 0px;
}
#slider-2-4308 .unslider-wrap.unslider-carousel > li {
  padding: 0px;
}
#slider-2-4308 .unslider-arrow.next {
  right: 10px;
  z-index: 100;
}
#slider-2-4308 .unslider-arrow.prev {
  left: 10px;
  z-index: 100;
}
#slider-2-4308 .unslider .unslider-nav {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
#slider-2-4308 .unslider-wrap {
  display: flex;
}
#slider-2-4308 .ct-slide {
  height: 100%;
}
#slider-2-4308 .unslider,
#slider-2-4308 .oxygen-unslider-container,
#slider-2-4308 .unslider-wrap,
#slider-2-4308 .unslider-wrap li {
  height: 100%;
}
#slider-2-4308 {
  height: 85vh;
  min-height: 570px;
}
@media (max-width: 991px) {
  #slider-2-4308 {
    height: 60vh;
  }
}
@media (max-width: 767px) {
  #slider-2-4308 {
    height: 70vh;
  }
}
@media (max-width: 479px) {
  #slider-2-4308 {
    height: 70vh;
  }
}
